# coding: utf-8

"""
    APIs RISKAMERICA

    A continuación les presentamos la documentación las **APIs** **de** **RiskAmerica**, el cual es un servicio pagado ofrecido por RiskAmerica que se contrata por separado a nuestras otras ofertas de software.  Algunas consideraciones que debe tener al momento de usar las APIs: - El APIKEY o Token lo puede conseguir solicitándolo al equipo comercial de RiskAmerica - El request necesita ser enviado con el header **Accept:** **application/json** para que responda en formato **JSON** (de no ser enviado con esto se responderá en formato **XML**) - Todos los Servicios son **REST** y sus parametros pueden ser enviados tanto en **POST** como **GET** - El uso de las APIs puede llevar un cobro asociado según se pacte en el acuerdo comercial, por lo que le recomendamos ser cuidadosos en el uso de éstas para evitar sobre-cargos innecesarios. - RiskAmerica funciona con un mecanismo de **WhiteList** **de** **IPs** para las consultas de las API. Para habilitar o modificar la lista de IPs permitidas debe contactarse al mail **contacto@riskamerica.com**.   # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six
# Model imports
from . import InlineResponse20037
# Importing for doctring purposes
# Api Client
from riam_api_client.api_client import ApiClient


class SicApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def sic_upload_upload(self, id_file_type, **kwargs):  # noqa: E501
        """Carga un archivo al módulo de Sistema Integrado de Carteras (SIC).  # noqa: E501

        Carga un archivo al módulo de Sistema Integrado de Carteras (SIC).<br> En caso de que existan problemas serios con la carga se devolvera un error de tipo SIC_FILE_INVALID_FORMAT.<br> En caso de que existan problemas con algunos registros del archivo cargado se devolverá el status WARNING y dentro de los issue se especificarán los problemas encontrados. Una carga exitosa sin problemas es identificada por status OK.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sic_upload_upload(id_file_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id_file_type: Tipo de Archivo a cargar (1: CSV, 2: XLS, 3: XML) (required)
        :param str file:
        :return: InlineResponse20037
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: InlineResponse20037 | multiprocessing.pool.ApplyResult
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sic_upload_upload_with_http_info(id_file_type, **kwargs)  # noqa: E501
        else:
            (data) = self.sic_upload_upload_with_http_info(id_file_type, **kwargs)  # noqa: E501
            return data

    def sic_upload_upload_with_http_info(self, id_file_type, **kwargs):  # noqa: E501
        """Carga un archivo al módulo de Sistema Integrado de Carteras (SIC).  # noqa: E501

        Carga un archivo al módulo de Sistema Integrado de Carteras (SIC).<br> En caso de que existan problemas serios con la carga se devolvera un error de tipo SIC_FILE_INVALID_FORMAT.<br> En caso de que existan problemas con algunos registros del archivo cargado se devolverá el status WARNING y dentro de los issue se especificarán los problemas encontrados. Una carga exitosa sin problemas es identificada por status OK.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sic_upload_upload_with_http_info(id_file_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id_file_type: Tipo de Archivo a cargar (1: CSV, 2: XLS, 3: XML) (required)
        :param str file:
        :return: InlineResponse20037
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: InlineResponse20037 | multiprocessing.pool.ApplyResult
        """

        all_params = ['id_file_type', 'file']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sic_upload_upload" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id_file_type' is set
        if ('id_file_type' not in params or
                params['id_file_type'] is None):
            raise ValueError("Missing the required parameter `id_file_type` when calling `sic_upload_upload`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id_file_type' in params:
            query_params.append(('idFileType', params['id_file_type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'file' in params:
            local_var_files['file'] = params['file']  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/Outputs/Generic/SIC/Upload/upload', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20037',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
